<p id="notice"><%= notice %></p>

<h1>Województwa</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voivodeships.each do |voivodeship| %>
      <tr>
        <td><%= voivodeship.name %></td>
        <td><%= link_to 'Pokaż', voivodeship %></td>
        <td><%= link_to 'Edytuj', edit_voivodeship_path(voivodeship) %></td>
        <td><%= link_to 'Usuń', voivodeship, method: :delete, data: { confirm: 'Na pewno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3><%= link_to 'Dodaj województwo', new_voivodeship_path %></h3>
<br>
<br>