<p id="notice"><%= notice %></p>
<h1>Użytkownicy</h1>
<table>
  <thead>
  <tr>
    <th>Login</th>
    <th>Typ użytkownika</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.login %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Pokaż', user %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

<br>

<%= link_to 'Nowy użytkownik' , new_user_path if can? :create, User %>
<%= link_to 'Okręg' , districts_path if cannot? :create, User %>
<%= link_to 'Okręg' , districts_path(@district) if can? :update, District %>