<p id="notice"><%= notice %></p>

<h1>Komitety wyborcze</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Skrót partii</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commitees.each do |commitee| %>
      <tr>
        <td><%= commitee.name %></td>
        <td><%= commitee.party %></td>
        <td><%= link_to 'Pokaż', commitee %></td>
        <td><%= link_to 'Edytuj',  edit_commitee_path(commitee) if can? :update, Commitee %></td>
        <td><%= link_to 'Usuń', commitee, method: :delete, data: { confirm: 'Na pewno?' } if can? :destroy, Commitee %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3><%= link_to 'Dodaj komitet wyborczy', new_commitee_path %></h3>
