<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @commitee.name %>
</p>

<p>
  <strong>Skrót partii:</strong>
  <%= @commitee.party %>
</p>

<p>
  <strong>Logo partii:<br></strong>
  <%= image_tag @commitee.avatar.url(:thumb) %>
</p>

<%= link_to 'Edytuj', edit_commitee_path(@commitee) %> |
<%= link_to 'Wróć', commitees_path %>
