<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @commitee.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @commitee.logo %>
</p>

<p>
  <strong>Skrót partii:</strong>
  <%= @commitee.party %>
</p>

<%= link_to 'Edytuj', edit_commitee_path(@commitee) %> |
<%= link_to 'Wróć', commitees_path %>
