<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @district.name %>
</p>

<p>
  <strong>Electorate:</strong>
  <%= @district.electorate %>
</p>

<p>
  <strong>Mandate:</strong>
  <%= @district.mandate %>
</p>
<p>
  <strong>Invalid vote:</strong>
  <%= @district.mandate %>
</p>
<p>
  <strong>Empty vote:</strong>
  <%= @district.empty %>
</p>
<p>
  <strong>Other vote:</strong>
  <%= @district.other %>
</p>
<p>
  <strong>Issued card:</strong>
  <%= @district.card %>
</p>
<p>
  <strong>Nie wiem co to:</strong>
  <%= @district.valid_votes %>
</p>
<p>
  <strong>Niewazne glosy:</strong>
  <%= @district.invalid_votes %>
</p>
<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
