<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa okręgu:</strong>
  <%= @vote.nazwad %>
</p>
<p>
  <strong>Komitet wyborczy:</strong>
  <%= @vote.nazwac %>
</p>
<p>
  <strong>Ilość ważnych głosów:</strong>
  <%= @vote.vote %>
</p>

<%= link_to 'Edytuj', edit_vote_path(@vote) %> |
<%= link_to 'Wróć', votes_path %>
