<h1>Zaloguj</h1>
<%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>
    <p>
      Login<br />
      <%= f.text_field :login %>
    </p>
    <p>
      Hasło<br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.check_box :remember_me %> Zapamiętaj mnie<br />
    </p>
    <p>
      <%= f.submit "Zaloguj" %>
    </p>
<% end %>
